 <div class="col-md-2">
 	<div class="sidebar-nav-fixed pull-right affix">
	   <div class="well well-lg">
	   		<div class="row">
	   			<%= display_user_resources %>
	   		</div>
	   </div>
	</div>
</div>